<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090488791613-kf9aimoh9t3ada7pp4v9a4ugenk6ltjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090488791613-kf9aimoh9t3ada7pp4v9a4ugenk6ltjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDjECCEhw1Y0gMRU8z1OLbh5N-VzqcmNPo</string>
	<key>GCM_SENDER_ID</key>
	<string>1090488791613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indcoders.Fake-O-Gram</string>
	<key>PROJECT_ID</key>
	<string>fake-o-gram</string>
	<key>STORAGE_BUCKET</key>
	<string>fake-o-gram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090488791613:ios:25366f8d7a248be0</string>
	<key>DATABASE_URL</key>
	<string>https://fake-o-gram.firebaseio.com</string>
</dict>
</plist>